In [1]:
#DEPENDENCIES
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from pprint import pprint

In [2]:
#INITIALIZE ARRAYS
MarsNewsTitles = []
MarsNewsContent = []

#GET THE RESPONSE, PARSE THE RESPONSE 
nasaNews_url = "https://mars.nasa.gov/news/?page=0&per_page=20&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
news_response = requests.get(nasaNews_url)
news_parsed = bs(news_response.text, "html.parser")

#PRINT TO CHECK AND INSPECT THE NEWS_PARSED FILE
#pprint (news_parsed)

#FIND AND APPEND TITLE
for div_title in news_parsed.find_all("div", class_="content_title"):
    #print(div_title.find("a").text.strip())
    MarsNewsTitles.append(div_title.find("a").text.strip())

#FIND AND APPEND DESCRIPTION
for div_content in news_parsed.find_all("div", class_="rollover_description_inner"):
    #print(div_content.text.strip())
    MarsNewsContent.append(div_content.text.strip())
    
#PRINT TO CHECK LISTS
for item in MarsNewsTitles:
    print(item)
print("\n")
for item in MarsNewsContent:
    print(item)

NASA's InSight Places First Instrument on Mars
NASA Announces Landing Site for Mars 2020 Rover
Opportunity Hunkers Down During Dust Storm
NASA Finds Ancient Organic Material, Mysterious Methane on Mars
NASA Invests in Visionary Technology
NASA is Ready to Study the Heart of Mars


In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.
After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.
It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.
NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.
NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.
NASA is about to go on a journey to study the center of Mars.

In [3]:
#GET THE RESPONSE, PARSE THE RESPONSE 
jplImage_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)"
image_response = requests.get(jplImage_url)
image_parsed = bs(image_response.text, "html.parser")

#PRINT TO CHECK AND INSPECT THE IMAGE_PARSED FILE
#pprint (image_parsed)

#FIND LIST OF IMAGES AS UNORDERED LIST CLASS ARTICLES
images = image_parsed.find("ul", class_="articles")
#print(images)

#FIND FIRST IMAGE <A> TAG
firstImage = images.find("a")
#print(firstImage)

#FIND URL END IN <A> TAG
firstImageLink = firstImage.attrs['data-fancybox-href']
#print(imageLinkEnd)

#COMBINE URL START TO END FOUND IN <A> TAG
firstImageLink = "https://www.jpl.nasa.gov" + firstImageLink
print(firstImageLink)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22943_hires.jpg

In [4]:
#GET THE RESPONSE, PARSE THE RESPONSE 
twitterWeather_url = "https://twitter.com/marswxreport?lang=en"
weather_response = requests.get(twitterWeather_url)
weather_parsed = bs(weather_response.text, "html.parser")

#PRINT TO CHECK AND INSPECT THE WEATHER_PARSED FILE
#pprint (weather_parsed)

#FIND WEATHER TWEET STREAM
weatherStream = weather_parsed.find("div", class_="stream")
#print (weatherStream)

#FIND LATEST TWEET IN STREAM USING FIND
currentTweet = weatherStream.find("li")
#print (currentTweet)

#FIND WEATHER BY ISOLATING FIRST CONTENT OF LATEST TWEET. USING FIND WOULD GIVE ME CONTENTS OF THE <A> TAG WITHIN TOO
mars_weather = currentTweet.p.contents[0].strip()
print(mars_weather)

Sol 2305 (2019-01-30), high -4C/24F, low -73C/-99F, pressure at 8.14 hPa, daylight 06:47-18:54

In [5]:
#GET THE RESPONSE, PARSE THE RESPONSE 
facts_url = "https://space-facts.com/mars/"

#GET TABLES FROM URL INTO VARIABLE TABLES
tables = pd.read_html(facts_url)
#print(tables)

#MAKE TABLE INTO DATAFRAME
factsDf = tables[0]
factsDf

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
#WRITE TO HTML
factsDf.to_html('MarsFactsTable.html')